<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>nefiltrēts.lv $title$</title>
        <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Ubuntu+Condensed" rel="stylesheet">
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <div id="left"></div>
        <div id="right"></div>
        <div id="top"></div>
        <div id="bottom"></div>

        <div id="header">
            <div id="logo">
                <a href="/">nefiltrēts.lv</a>
            </div>
            <div id="navigation">
                <a href="/par.html">Par</a>
                <a href="/archive.html">Arhīvs</a>
            </div>
        </div>

        <div id="content">
            <h1>$title$</h1>
            $body$
        </div>

        <div id="footer">
            © nefiltrēts.lv™
        </div>
    </body>
</html>
